// roboto font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  // todo: find better colors
  --fg-color: #2c3142;
  --bg-color: #30343f;
  --link-color: #273469;
  --text-color: #fafaff;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html {
  background-color: var(--bg-color);
  color: var(--text-color);
}