.topNavbar {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  background-color: rgb(37, 37, 37);
  box-shadow: var(--shadow-small);

  > select {
    padding: 0 var(--margin-big);
    border: none;

    > option {
      background-color: red;
    }
  }

  > select,
  > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 120px;
    text-transform: uppercase;

    background-color: transparent;
    border: none;
    margin: var(--margin-big);
    color: white;

    &:hover {
      cursor: pointer;
      background-color: rgba(255,255,255,.1);
    }

    > img {
      height: 32px;
      margin-right: var(--margin-small);
    }
  }
}