:root {
  --margin-small: 5px;
  --margin-normal: 10px;
  --margin-big: 15px;
  --margin-bigger: 20px;
  
  --padding-small: 5px;
  --padding-normal: 10px;
  --padding-big: 15px;
  --padding-bigger: 20px;

  --shadow-small: 5px 5px 5px rgba(0,0,0,.1);
}